<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="StudyWithWe"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyW"
        tools:targetApi="31">
        <activity android:name=".homeBoard.HomeCrrectionActivity" />
        <activity android:name=".homeBoard.HomeWriteActivity" />
        <activity android:name=".homeBoard.HomeReadActivity" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".board.CorrectionActivity" />
        <activity android:name=".board.BoardReadActivity" />
        <activity android:name=".board.BoardWriteActivity" />
        <activity android:name=".auth.JoinActivity" />
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".auth.IntroActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>